.container{
    padding-top: 150px;
   
}

#perfil{
    width: 100%;
    padding-top: 80px;
}
h1{
    text-align: center;
}
table{
    background-color: rgb(101, 94, 94);
    padding: 10px;
    width: 100%;
    font-size: 30px;
}
legend{
    font-size: 40px;
}
#tabla{
    margin-top: 20px;
}
#nombre{
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
}

#boton{
    padding-top: 25px;
    text-align: center;
}
button{
    font-size: 35px;
    background-color: rgb(220, 123, 27);
    border-radius: 10px;
}
button:hover{
    transition: all ease 0.5s;
    background-color: rgb(219, 152, 85);
    font-size: 40px;
}
select{
    background-color: darkgrey;
    width: 100%;
    font-size: 30px;
   
}
input{
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    font-size: 30px;
}
option{
    font-size: 20px;
}
td{
    background-color: darkgrey; 
}
