footer{

    background-color: #5f768a;
    height: 120px;
    position: relative;
    /* opacity: 70%; */
    position:absolute;
    bottom:0px;
    left: 0;
    right:0px;
    width: 100%;

}
#logoBajo{
    float: right;
}
