.container{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 20% 80%;
}

#perfil{
    width: 100%;
    padding-top: 80px;
    margin-bottom: 0px;
    filter: drop-shadow(10px 10px 5px rgb(86, 65, 65));
}
h1{
    text-align: center;
    margin-bottom: 15%;
}
th{
    font-style: oblique;
}
td{
    background-color: rgb(194, 194, 194);
}
table{
    background-color: rgb(120, 120, 120);
    padding: 10px;
    width: 100%;
    font-size: 30px;
}
legend{
    font-size: 40px;
    font-style: oblique;
    text-shadow: 2px 2px 7px #6f0b0b;
}
#tabla{
    margin-top: 20px;
}
#nombre{
    text-shadow: 2px 2px 7px #0b4c6f;
}
a{
    text-decoration: none;
    color: aliceblue;
}
