*,html{
    padding: 0;
    margin: 0;
    background-color: rgb(210, 178, 128);
}
.container{
    padding-top: 50px;
    text-align: center;
}
input{
    font-size: 30px;
    margin: 10px;
}
.boton{
    text-align: center;
}
button{
    font-size: 30px;
}